@font-face {
  font-family: Droid;
  src: url(../fonts/ArbFONTS-Droid\ Arabic\ Kufi.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Droid", "Poppins", sans-serif;
  direction: rtl;
}

/* Start Navbar */
nav {
  height: 90px;
  background-color: #2965f1;
}

.nav-flx {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav .logo {
  width: 40%;
  height: 100%;
  display: flex;
}

nav .logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav .logo a img {
  height: 80%;
}

nav .links {
  width: 60%;
}

nav .links ul {
  display: flex;
  justify-content: flex-end;
}

nav .links ul li {
  margin-left: 20px;
}

nav .links ul li a {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

nav .links ul li a span {
  padding: 5px;
  color: white;
  border-radius: 3px;
  font-size: 16px;
}

nav .links ul li:nth-child(1) a span {
  background: #f16529;
}

nav .links ul li:nth-child(2) a span {
  background: #3fa9f5;
}

nav .links ul li:nth-child(3) a span {
  background: #fcdc00;
}
/* End Navbar */

/* Start Header (index.html) */
header {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #2965f1;
  position: relative;
  z-index: 1;
  display: flex;
}

header::before {
  content: url(../images/wave.svg);
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: -50px;
  left: 0px;
  z-index: -1;
}

.header-flx {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .info,
header .img {
  width: 48%;
}

header .info {
  margin-top: -20px;
}

header .info h1 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
}

header .info h1 span {
  color: #fff;
  position: relative;
  z-index: 1;
}

header .info p {
  font-size: 22px;
  color: #eee;
  line-height: 1.8;
}

header .img img {
  width: 90%;
}

header .info h1 span::before,
.header-html .header-flx .info p a::before {
  content: "";
  position: absolute;
  width: 99%;
  height: 20px;
  background: #0f3282;
  z-index: -1;
  bottom: 5px;
  right: 0px;
}

.header-html .header-flx .info p a::before {
  height: 10px;
  transition: height 0.3s ease-in;
}
.header-html .header-flx .info p a:hover::before {
  height: 0px;
}
/* End Header (index.html) */

/* Start Assignments (index.html) */
.Assignments,
.Assignments-html {
  direction: ltr;
}

.Assignments {
  padding: 150px 0px 100px;
}

.Assignments-html {
  padding: 100px 0px 100px;
}

.Assignments .box,
.Assignments-html .box {
  width: 30%;
  border: 2px solid #f9f9f9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;

  -webkit-box-shadow: 0px 11px 21px rgb(0 0 0 / 8%);
  -moz-box-shadow: 0px 11px 21px rgb(0 0 0 / 8%);
  -o-box-shadow: 0px 11px 21px rgb(0 0 0 / 8%);
  box-shadow: 0px 11px 21px rgb(0 0 0 / 8%);

  transition: transform 0.4s ease-in;
}

/* Assignments increment boxs */

.Assignments-html .box {
  counter-increment: assign-count;
}

.Assignments .Assign-flx,
.Assignments-html .Assign-flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Assignments .box a,
.Assignments-html .box a {
  width: 100%;
  color: #212121;
  padding: 20px;
}

.Assignments .box a:hover img,
.Assignments-html .box a:hover img {
  transform: scale(1.1);
}

.Assignments .box a:hover h3,
.Assignments-html .box a:hover h3 {
  color: #2965f1;
}

.Assignments .box:hover,
.Assignments-html .box:hover {
  transform: scale(1.1);
}

.Assignments .box:nth-child(3)::before,
.Assignments-html .box::before {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #2965f1;
  color: #fff;
  font-size: 13px;
  padding: 2px 4px;
  border-radius: 3px;
}

.Assignments .box:nth-child(3)::before {
  content: "incomplete";
}

.Assignments-html .box::before {
  content: counter(assign-count);
  padding: 2px 8px;
}

.Assignments .box .box-img,
.Assignments-html .box .box-img {
  width: 100%;
  height: 100px;
}

.Assignments .box .box-img img,
.Assignments-html .box .box-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in;
}

.Assignments .box .box-info,
.Assignments-html .box .box-info {
  width: 100%;
}

.Assignments .box .box-info h3,
.Assignments-html .box .box-info h3 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  text-transform: uppercase;
  transition: color 0.4s ease-in;
}

.Assignments .box .box-info ul,
.Assignments-html .box .box-info ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-top: 1px solid #eee;
  text-transform: capitalize;
}
/* End Assignments (index.html) */

/* Start header (html_Assignments) */

.header-html {
  background: #2965f1;
  height: 250px;
  display: flex;
}

.header-html .header-flx {
  color: #fff;
  text-align: center;
}

.header-html .header-flx .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 85%;
}

.header-html .header-flx .info h1 {
  width: 100%;
}

.header-html .header-flx .info p {
  font-size: 20px;
}

.header-html .header-flx .info p a {
  position: relative;
  z-index: 1;
  color: white;
  display: inline-block;
}

/* End header (html_Assignments) */

/* Start HTML Lessons */
.html-lessons {
  padding: 100px 0px;
}

.html-lessons .box {
  background: #efefef;
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 60px;
}

.html-lessons .box .lesson-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 30px;
}

.html-lessons .box .lesson-title h3 {
  color: #2965f1;
  position: relative;
  font-size: 24px;
}

.html-lessons .box .lesson-title h3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0px;
  right: -20px;
  background: #2965f1;
}

.html-lessons .box .lesson-title span {
  font-weight: bold;
  color: #333;
}

.html-lessons .box .lesson-title span a {
  font-weight: bold;
  color: #2965f1;
}

.html-lessons .box pre code {
  font-size: 18px;
}

.html-lessons .box .info {
  margin-top: 40px;
  padding: 20px;
  background: #e6e6e6;
  border-radius: 12px;
}

.html-lessons .box .info p,
.html-lessons .box .info ul {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.html-lessons .box .info p {
  font-size: 20px;
}

.html-lessons .box .info ul {
  margin-top: 10px;
  padding: 20px 30px 20px 20px;
  border-radius: 12px;
}

.html-lessons .box .info ul li {
  margin-bottom: 10px;
  position: relative;
}

.html-lessons .box .info ul li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #333;
  right: -25px;
  top: 8px;
}

.html-lessons .box .info ul ul li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #888;
  right: -25px;
  top: 8px;
}

.html-lessons .box .info ul li ul {
  padding: 20px;
}

.html-lessons .box .info .img-example {
  display: flex;
  justify-content: center;
  max-height: 450px;
  margin: 20px 0px;
}

.html-lessons .box .info .img-example img {
  max-width: 100%;
  max-height: 450px;
}

pre {
  background: #333;
  padding: 30px !important;
  border-radius: 12px;
  direction: ltr;
  text-align: left;
  position: relative;
  overflow: auto;
}

code {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
}

/* End HTML Lessons  */

/* my framework */

.container {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
